* {
    margin: 0;
}

.header {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: space-evenly;
    background-color:black;
    padding:60px;
}

.header a {
    color:white;
    text-decoration: none;
}

.main{

}