body {
    background-color: rgb(190, 210, 249);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.header {
    background-color: rgb(248, 190, 205);
    color: rgb(255, 255, 255);
    
}
.main {
    
}